body{
	font-family: "Microsoft Yahei" ! important;
	margin: 0rem;
	padding: 0rem;
	background-image: url(images/bgimage.jpg);
	background-repeat: repeat;
}

img, object {max-width: 100%;}  

.clear{
	clear: both;
}

div.blank{
	height: 0.5rem;
}

div.headtop{
	width: 100%;
	min-width: 66rem;
	height: 2rem;
	background-color: #0E419C;
}

/* ..........宽度限定.......... */
div.framebig{
	width: 66rem;
	margin: auto;
	background-color: white;
	box-shadow: 0.5rem 0rem 0.3rem #888888;
}

div.framesmall{
	width: 64rem;
	margin: auto;
}

img.logo{
	margin: 1rem;
}

/* ..........导航栏定义.......... */
nav{
	background-color: #CDC9A5;
}

ul.menus{
	float: left;
	width: 64rem;
	height: 3rem;
}

li.menu{
	position: relative;
	float: left;
	list-style-type: none;
}

.menu a{
	display: block;
	height: 3rem;
	width: 11.5rem;
	color: #FFF;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	text-decoration: none;
}

.menu a:hover, .menu a:active{
	background-color: #cc0000;
}

/* ..........欢迎访问.......... */
div.welcome{
	position: relative;
	top: 0rem;
	width: 64rem;
}

/* ..........照片展示.......... */
.photoflow{
	position: relative;
	z-index: 9;
	width: 100rem;
	animation: myfirst 6s infinite;
	-webkit-animation: myfirst 6s infinite;
	-o-animation: myfirst 6s infinite;
	-moz-animation: myfirst 6s infinite;
	font-size: 0rem;
}

.photoflow img{
	width: 30rem;
}

div.photo{
	display: inline-block;
}

div.window{
	position: relative;
	width: 30rem;
	height: 22.5rem;
	overflow: hidden;
}

@keyframes myfirst
{
	0% {left: 0rem;}
	26.6% {left: 0rem;}
	36.6% {left: -30rem;}
	63.2% {left: -30rem;}
	73.2% {left: -60rem;}
	99.7% {left: -60rem;}
	100% {left: -0rem}
}

/* ..........研究方向.......... */
div.major{
	position: absolute;
	top: 0rem;
	right: 0rem;
	z-index: 10;
	width: 30rem;
	height: 22.5rem;
}

div.wel{
	padding: 0.5rem;
	background-color: #fafeff;
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 2rem;
}

div.field{
	font-size: 1.5rem;
	margin-left: 0.5rem;
}

p.fieldtitle{
	font-weight: bold;
}

/* ..........友情链接.......... */
div.links{
	width: 100%;
	min-width: 66rem;
	background-color: #0E419C;
	color: white;
	padding: 0.5rem 0rem 0.5rem 0rem;
	text-align: center;
}

div.linkin{
	display: inline-block;
}

.links img{
	width: 1rem;
}

.linkin ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li.link{
	display: inline-block;
	text-align: center;
	padding: 0.3rem;
}

.link a{
	text-decoration: none;
	font-size: 0.75rem;
	color: #FFF;
}

/* ..........footer.......... */
footer{
	position: relative;
	width: 100%;
	min-width: 66rem;
	background-color: #343434;
	padding: 1rem 0rem 1rem 0rem;
	text-align: center;
}

p.footerinfo{
	position: absolute;
	bottom: 1rem;
	color: #FFF;
	margin: 0;
	padding: 0;
}

footer img{
	width: 4rem;
	float: right;
}

