body{
	font-family: "Microsoft Yahei" ! important
}

img, object {max-width: 100%;}  

.clear{
	clear: both;
}
/* ..........导航栏定义.......... */
nav{
	background-color: #CDC9A5;
}

ul.menus{
	width: 64rem;
	height: 2.875rem;
	float: left;
}

li.menu{
	float: left;
	position: relative;
	list-style-type: none;
}

.menu a{
	text-decoration: none;
	display: block;
	height: 2.875rem;
	width: 15rem;
	color: #FFF;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	margin: 0;
	padding: 0;
}

.menu a:hover, .menu a:active{
	background-color: #cc0000;
}

/* ..........导师介绍.......... */
div.bossintro{
	background-color: #d4d4d4;
	position: absolute;
	top: 12rem;
	width: 64rem;
}

div.boss{
	text-align: center;
	margin-right: 5%;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	z-index: 10;
}

p.name, p.email{
	color: grey;
	font-weight: bold;
}

/* ..........照片展示.......... */
.photoflow{
	width: 1500px;
	height: 150px;
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 9;
	animation: myfirst 6s infinite;
	-webkit-animation: myfirst 6s infinite;
	-0-animation: myfirst 6s infinite;
	-moz-animation: myfirst 6s infinite;
	font-size: 0px;
}

.photoflow img{
	width: 320px;
}

div.photo{
	display: inline-block;
}

div.window{
	width: 320px;
	height: 240px;
	overflow: hidden;
	position: relative;
	left: 0px;
}

@keyframes myfirst
{
	0% {left: 0px;}
	26.6% {left: 0px;}
	36.6% {left: -320px;}
	63.2% {left: -320px;}
	73.2% {left: -640px;}
	99.7% {left: -640px;}
	100% {left: -0px}
}