*{
	padding: 0;
	margin: 0;
}

body{
	font-family: "Microsoft Yahei" ! important;
	background-image: url(../images/bgimage.png);
	background-repeat: repeat;
}

.clear{
	clear: both;
}

div.blank{
	height: 1rem;
}

/* ..........头部.......... */
header.headtop{
	position: fixed;
	width: 100%;
	min-width: 70rem;
	text-align: center;
	background-color: #1e458a;
	z-index: 99;
}

div.headwidth{
	display: inline-block;
	width: 70%;
	min-width: 70rem;
}
div.headimg{
	padding-top: .5rem;
}

.headtop p{
	position: absolute;
	right: .5rem;
	margin: .5rem;
	color: white;
	font-size: .7rem;
	font-weight: lighter;
}

/* ..........导航栏定义.......... */
.menus li{
	position: relative;
	float: left;
	list-style-type: none;
	width: 20%;
	padding-bottom: .2rem;
}

li.here{
	border-bottom: .3rem solid #c99605;
}

.menus a{
	display: block;
	color: #FFF;
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: none;
}

div.headback{
	height: 8rem;
}
/* ..........宽度限定.......... */
div.framebig{
	width: 70%;
	min-width: 70rem;
	margin: auto;
	background-color: white;
	box-shadow: 0.5rem 0rem 0.3rem #888888;
}

div.framesmall{
	width: 90%;
	margin: auto;
}

img.logo{
	display: block;
}

/* ..........友情链接.......... */
div.links{
	width: 100%;
	min-width: 70rem;
	background-color: #1e458a;
	color: white;
	padding: 0.5rem 0rem 0.5rem 0rem;
	text-align: center;
}

div.linkin{
	display: inline-block;
	width: 70%;
}

.link img{
	width: 1.1rem;
	vertical-align: middle;
}

.linkin ul{
	list-style-type: none;
}

li.link{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 0.3rem;
}

.link a{
	text-decoration: none;
	font-size: 0.75rem;
	color: #FFF;
}
/* ..........学科介绍.......... */
div.pharmanal{
	text-align: center;
}

div.paintro{
	display: inline-block;
	width: 80%;
	margin-top: 1rem;
	text-align: justify;
	line-height: 200%;
}
/* ..........footer.......... */
footer{
	position: relative;
	width: 100%;
	min-width: 70rem;
	background-color: #343434;
	padding: 1rem 0rem 1rem 0rem;
	text-align: center;
}

p.footerinfo{
	position: absolute;
	bottom: 1rem;
	color: #FFF;
}

footer img{
	width: 4rem;
	float: right;
}

#bluebox div{
	position: relative;
	background-color: #16459f;
}

#bossimg div{
	padding: 3rem;
	margin: 3rem;
	background-color: white;
}
