div.bluebox{
	position: relative;
	background-color: #1e458a;
}

div.blueone{
	height: 11.5rem;
}

div.bossimg{
	position: absolute;
	left: 3.5rem;
	top: 5rem;
	z-index: 9;
	padding: .3rem;
	margin: .3rem;
	background-color: white;
}

div.bossname{
	position: absolute;
	left: 12.5rem;
	top: 5.2rem;
	color: white;
}

div.intrologo{
	position: absolute;
	right: 3.5rem;
	top: 2rem;
	z-index: 9;
}

.intrologo img{
	width: 18rem;
	opacity: 0.4;
}

div.greybox{
	position: relative;
	background-color: #f5f5f5;
	text-align: center;
}

div.tablediv{
	display: inline-block;
	margin-top: 2rem;
}

.infotable td{
	line-height: 2rem;
	font-size: 0.8rem;
	border-bottom: .1rem solid #efefef;
}

td.tabkeys{
	width: 7rem;
}

td.tabvalues{
	text-align: left;
	width: 12rem;
}

div.whitebox{
	background-color: white;
}

div.widthlimit{
	display: inline-block;
	width: 60%;
	text-align: left;
}

.widthlimit p{
	margin: .3rem;
	color: #333;
	text-align: justify;
}

.widthlimit div{
	margin: 2rem 0;
}

p.listtitle{
	border-bottom: .1rem dotted black;
	font-weight: bold;
}